.App {
  text-align: center;
}

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.products > .productStyling{
  box-shadow: 0 0 10px black;
  width: 400px;
  align-items: center;
  text-align: center;
  margin: 15px;
  
}
.products > .productStyling:hover{
  background-color: lightgray;
}
